
#menu ul {
    padding:0px;
    margin:0px;
    background-color:rgba(37, 236, 37, 0.226);
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:rgb(255, 255, 255);
    color: #fdf6f6;
    text-decoration: none;
    border-bottom:3px solid rgb(12, 172, 38);
}
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: rgb(255, 255, 255);
    border-bottom:3px solid #EA0000;
}
/*
seletor{
    height: ;
    width: ;
    border: ;
    padding: ;
    margin: ;
}*/